@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body {
  font-family: 'Noto Sans KR', sans-serif;
}

#player {
  margin: 20px;
}

#playhead, #playlist {
  padding: 20px;
}

.pl {
  margin-bottom: -5px;
}

#btns button {
  min-height: 18px;
  background: transparent;
}
