@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #efefef;
}

#main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player {
    margin: 20px;
}

#playhead {
    background-color: #007fff;
    
    max-width: 375px;
    min-width: 325px;
    
    margin-top: 20px;

    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    border-radius: 10px;

    color: white;
}

#playhead-op {
    display: flex;
    justify-content: space-between;
}

#playlist {
    background-color: white;
    
    max-width: 375px;
    min-width: 325px;
    
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    border-radius: 10px;
}

#btns button {
    background: transparent;

    margin-right: 5px;
    
    width: 35px;
    height: 35px;
    
    border: none;

    font-size: 15px;
    color: white;
}

article.pl {
    background-color: white;

    max-width: 350px;
    min-width: 300px;
    
    margin: 0;

    border-bottom: 1px solid #dedede;
}

.pl-title {
    color: black;
    font-size: 16px;
}

.pl-artist {
    color: #bcbcbc;
    font-size: 13.5px;
    font-weight: lighter;
}

.pl-np-title {
    color: #007fff;
    font-size: 16px;
}

.pl-np-artist {
    color: #007fff;
    font-size: 13.5px;
    font-weight: lighter;
}

#playsrc {
    font-size: 10px;
}

#footer {
    background-color: transparent;
    
    max-width: 375px;
    min-width: 325px;
    
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    border-radius: 10px;
}

article.cr {
    background-color: transparent;

    max-width: 350px;
    min-width: 300px;
    
    margin: 0;
}
