@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #efefef;
}

#main-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;

  gap: 20px;

  align-items: center;
}

#playhead {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  gap: 18px;
  border-radius: 10px;

  color: white;
  background-color: #007fff;
}

#music-tit {
  font-size: 18px;
  font-weight: bold;
}

#playhead-op {
  display: flex;
  justify-content: space-between;
}

#pg-bar {
  font-size: 16px;
  font-weight: 400;
}

#btns {
  display: flex;

  gap: 4px;
}

#btns button {
  background: transparent;

  width: 35px;
  height: 35px;

  border: none;

  font-size: 16px;
  color: white;
}

#playlist {
  width: 100%;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;

  border-radius: 10px;

  background-color: white;
}

#playlist > * {
  border-bottom: solid 1px #dedede;
}

#playsrc {
  padding: 8px 0px;

  font-size: 10px;
}

.pl-title {
  font-size: 16px;
}

.pl-artist {
  font-size: 14px;

  color: #bcbcbc;
}

.pl-title.np {
  color: #007fff;
}

.pl-artist.np {
  color: #007fff;

  font-weight: lighter;
}

#footer {
  background-color: transparent;

  max-width: 375px;
  min-width: 325px;

  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  border-radius: 10px;
}

article.cr {
  background-color: transparent;

  max-width: 350px;
  min-width: 300px;

  margin: 0;
}
